# copy to /lib/systemd/system/
# run systemctl daemon-reload
# run systemctl start|stop|enable|disable|status platypus-test

[Unit]
Description=platypus-test
After=network.target

[Service]
ExecStart=/usr/bin/platypus-test
Restart=no
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
