Package: platypus
Section: base
Priority: optional
Version: 3.0.0
Architecture: core2-32
Maintainer: Sebastian Boettcher
Source: internal, not available
Depends: mraa (>= 1.0.0),boost-dev (>= 1.56.0)
Description: The main platypus software binaries, with autostart services
